$soft-color: #fcf5f3;
$warning-color: #fece51;
$warning-light-color: #fecd5170;
$highlight-color: #fecd5135;
$bg-color: #ffffff;
$text-color: #000000;
$text-mid-color: #444;
$text-light-color: #888;
$border-color: #999;
